[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
configparser = "*"
webdriver-manager = "4.0.2"
slack-sdk = "*"

[scripts]
attend="./punchin.py -a --headless"
leave="./punchin.py -l --headless"
